<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,111}</string>
                <key>spriteSourceSize</key>
                <string>{101,111}</string>
                <key>textureRect</key>
                <string>{{1,1},{101,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,111}</string>
                <key>spriteSourceSize</key>
                <string>{101,111}</string>
                <key>textureRect</key>
                <string>{{104,1},{95,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,111}</string>
                <key>spriteSourceSize</key>
                <string>{101,111}</string>
                <key>textureRect</key>
                <string>{{201,1},{85,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,111}</string>
                <key>spriteSourceSize</key>
                <string>{101,111}</string>
                <key>textureRect</key>
                <string>{{288,1},{75,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player01.png</string>
            <key>size</key>
            <string>{364,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5564839b1a650271b0aa45c8065964b:7bc3d80a3e7e209bd1336f68a6278404:0dda5bf955113b1478741c53cd10ce32$</string>
            <key>textureFileName</key>
            <string>player01.png</string>
        </dict>
    </dict>
</plist>
