<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yunshi-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1,199},{130,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yunshi-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{137,199},{130,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yunshi-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,196}</string>
                <key>spriteSourceSize</key>
                <string>{174,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshi-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,106}</string>
                <key>spriteSourceSize</key>
                <string>{81,106}</string>
                <key>textureRect</key>
                <string>{{273,133},{81,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yunshi-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{177,1},{130,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stones.png</string>
            <key>size</key>
            <string>{355,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f46ffd82dfff5763d01396fc7bf8539:9d08c0ea98fe1dff8520cf9add00a1dd:e705c3ba29efe846a7dc7384233e52e5$</string>
            <key>textureFileName</key>
            <string>stones.png</string>
        </dict>
    </dict>
</plist>
