<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{1,860},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,69}</string>
                <key>spriteSourceSize</key>
                <string>{82,69}</string>
                <key>textureRect</key>
                <string>{{1,789},{82,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{1,700},{87,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{1,602},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,97}</string>
                <key>textureRect</key>
                <string>{{1,204},{100,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,100}</string>
                <key>spriteSourceSize</key>
                <string>{99,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{99,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{1,502},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{99,98}</string>
                <key>textureRect</key>
                <string>{{1,402},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,100}</string>
                <key>spriteSourceSize</key>
                <string>{97,100}</string>
                <key>textureRect</key>
                <string>{{1,303},{97,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb01.png</string>
            <key>size</key>
            <string>{102,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9c76a55304dc45544feece947fe2c7b:eead588d2ebea2f74ee338bb8a52e1b7:3a67d83f1fdbe14519685e81d1b63c36$</string>
            <key>textureFileName</key>
            <string>bomb01.png</string>
        </dict>
    </dict>
</plist>
